body{
  background-color: #708090;
}
h1{
  text-align: center;
  text-shadow: black 1px 1px;
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #009e73;
}

h2{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #009e73;
}

h3{
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
  font-style: italic;
  font-family: cursive;
}

img{
  height: 300px;
  margin-bottom: 15px;
}

li{
  font-style: italic;
}

.container{
  background-color: #99aab5;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 30px;
  padding-left: 15px;
}

.heading p{
  font-style: italic;
  font-size: 16px;
}

.btn{
  border-width: 2px;
}

.well{
  padding-top: 10px;
  border: solid 2px black;
  margin-left: 15px;
}

.block{
  display: block;
}

.quiz{
  margin-left: 30px;
  background-color: #cbd1d1;
  padding: 30px 30px 30px 30px;
  margin-bottom: 30px;
}

.results{
  display: none;
}

.results p{
  font-size: 16px;
}

#javascript{
  background-color: #f1f2c9;
  padding: 10px 10px 10px 10px;
  border: solid #dadbb6 2px;
  border-radius: 5px;
}

#ruby{
  background-color: #edc0cd;
  padding: 10px 10px 10px 10px;
  border: solid #deb4c0 2px;
  border-radius: 5px;
}

#python{
  background-color:#c2e9ed;
  padding: 10px 10px 10px 10px;
  border: solid #b8dfe3 2px;
  border-radius: 5px;
}